body {
	background-image: url("../images/coding.jpg");
	
}
button{
	height: 50px;
	width: 150px;
	font-size: 150px;
}

.jumbotron {
	text-align: center;
	opacity: .25%;
	margin-top: 20px;
}

.startNowButton {
	/*margin: 20px auto;*/
	margin-left: 380px;
}
.game {
	background-color: pink;
	height: 350px;
	margin: 20px auto;

}

.submitAnswersButton {
	margin-left: 380px;
}

.result {
	background-color: white;
	margin-bottom: 20px;
}

.time {
	margin-left: 290px;
	margin-bottom: 20px;
}